{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block metatitle %}Vino{% endblock %}</title>
    <script src="{% static 'sharekernel/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'sharekernel/jquery-ui-1.11.4.min.js' %}"></script>
    <script src="{% static 'sharekernel/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sharekernel/commons.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'sharekernel/jquery-ui-1.11.4.min.css' %}" />
    <link href="{% static 'sharekernel/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'sharekernel/style.css' %}" />
  {% block head %}{% endblock %}
<style>
.vino{
    color: #800000;
}
.navbar-default .navbar-brand:hover{
    color:red;
}
.navbar-default .navbar-brand{
    color:#800000;
}
</style>

</head>

<body>
     <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'sharekernel:home' %}">ViNO</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'sharekernel:results_tree' %}">Explore</a></li>
            <li><a href="#about" data-toggle="modal" data-target="#aboutBox">About</a></li>
            <!--li><a href="#contact">Contact</a></li-->
            <!--li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Problems <span class="badge">1</span><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Explore problems</a></li>
                <li><a href="#">Explore solutions</a></li>
                <li class="divider"></li>
                <li><a href="#">Simple Grow</a></li>
              </ul>
            </li-->
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
          <!--form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form-->
        </div><!--/.navbar-collapse -->
      </div>
    </div>
  
        {% block body %}{% endblock %}

 <!--footer class="footer">
      <div class="container">
        <p><a href="https://sourcesup.renater.fr/wiki/vino/index">More information about vino development</a></p>
      </div>
    </footer-->

  <div class="modal fade" id="aboutBox" tabindex="-1" role="dialog" aria-labelledby="aboutBoxLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="aboutBoxLabel">About Vino</h4>
        </div>
        <div class="modal-body">
            <p>This website is a prototype for sharing computed viability kernels.
            We think that this project can help to compare viability algorithms. Actually, there are several algorithms and even more implementations 
of these algorithms. The aim of ViNO is to bring together researchers and users to be more effective in the development, evaluation and presentation of numerical solutions to viability problems.
</p>
        <p>The interest of this platform is to show the results obtained on different problems, from simple to complex, and 
            to encourage the comparison of results of the different methods and softwares.</p>
        <p>The aim is to stimulate trade and allow better selection of methods according to the characteristics of the viability problems under consideration,
            which will facilitate the application to concrete problems. </p>

            <p>Features planned:
              <ul>
                <li>Storage in database with submission form</li>
                <li>Comparison of two grids computed</li>
                <li>Conversion between file formats: raw txt, hdf5, …</li>
                <li>Bibliographic reference stored in BibTeX with doi link</li>
                <li>	automated test of ViNOs</li> 
                <li>	persistent URL</li>

              </ul>
            </p>
            <p><a href="https://sourcesup.renater.fr/wiki/vino/index">More information about vino development</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
