{% extends "base.html" %}

{% block body %}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'sharekernel:home' %}">Home</a></li>
    </ol>

        <div id="row">
            <div class="col-sm-12">
    	
<h3> Softwares </h3> used to compute the results stored in the database :
<br><br>

{% if software_list %}
    <ul>
    {% for software in software_list %}
        <li><a href="{% url 'sharekernel:visitsoftware' software.id %}">{{ software.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No softwares are available.</p>
{% endif %}

			

              </div>
	</div>
</div>

{% endblock %}