{% if algorithm_list %}
    <ul>
    {% for algorithm in algorithm_list %}
        <li><a href="{% url 'sharekernel:metadatafilespecification' category_id  viabilityproblem_id parameters_id algorithm.id resultformat_id %}">{{ algorithm.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No algorithms are available.</p>
{% endif %}
<a href="{% url 'sharekernel:metadatafilespecification' category_id  viabilityproblem_id parameters_id algorithm_id resultformat_id %}">Annuler</a>
