{% extends "base.html" %}

{% block body %}

<div id="container">
		<div id="topbar"> 
		</div>
		<div id="navbar"> <a href="{% url 'sharekernel:home' %}">HOME</a></div>
		<!-- the main section where all pages will be loaded using URL variables and PHP include() function -->
		<div id="main">
<h5>Please find below the categories covered by the database :</h5>
{% if category_list %}
    <ul>
    {% for category in category_list %}
        <li><a href="{% url 'sharekernel:metadatafilespecification' category.id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">{{ category.text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}
 <a href="{% url 'sharekernel:metadatafilespecification' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">Annuler</a> 

			<div class="spacer"></div>


		<!-- close #main content -->
		</div>
	<!-- close #container -->
	</div>

{% endblock %}