{% extends "base.html" %}

{% load staticfiles %}
{% block head %}
    <script src="{% static 'sharekernel/vinoplot.js' %}"></script>
    <script src="{% static 'sharekernel/vis.js' %}"></script>
    <script src="{% static 'sharekernel/plotly-latest.min.js' %}"></script>
{% endblock %}

{% block body %}

<div class="container">
		<div id="topbar"> 
		</div>
		<div id="navbar"> <a href="{% url 'sharekernel:home' %}">HOME</a></div>
<a href="{% url 'sharekernel:visitresult'  vinoA.id %}">{{vinoA.title}}</a> -- <a href="{% url 'sharekernel:visitresult'  vinoB.id %}">{{vinoB.title}}</a><br><br>

            <h2>ViNOs comparison</h2>
<ul>
<li> ViNO A entitled {{vinoA.title}} was computed thanks to {{vinoA.algorithm.name}} by {{vinoA.author}} submitted on {{vinoA.submissiondate}}. The result format is {{vinoA.resultformat.name}}.</li>
<li> ViNO B entitled {{vinoB.title}} was computed thanks to {{vinoB.algorithm.name}} by {{vinoB.author}} submitted on {{vinoB.submissiondate}}. The result format is {{vinoB.resultformat.name}}.</li>
</ul>
<div id="oo"></div>
<div id="oobis"></div>
            <p>First, choose the number of points per axis of the regular grid on which the comparison will be performed : <input id="ppa"> points per axis (max : 200). <input type="submit" id="comparisonGo" value="Go" /><input type="submit" id="initPlot" value="Initialize Plot" disabled/></p>

<p>Then, you can visualize  : </p>
<ul>
<li> ViNO A : <button type="button" id="viewAoriginal" class = "btn checked" disabled> Original </button> <button type="button" id="viewAongrid" class = "btn checked" disabled> Marks on the comparison grid </button> 
</li>
<li> ViNO B : <button type="button" id="viewBoriginal" class = "btn" disabled> Original </button> <button type="button" id="viewBongrid" class = "btn" disabled> Marks on the comparison grid </button></li>
<li> On the comparison grid :
 <ul> <li> <button type="button" id="viewABongrid" class = "btn" disabled> ViNO A - ViNO B</button></li><li><button type="button" id="viewBAongrid" class = "btn" disabled> ViNO B - ViNO A</button> </li>
<li> <button type="button" id="viewAinterBongrid" class = "btn" disabled> Intersection ViNO A ViNO B</button></li></ul></li>
</ul> 
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div id="viewPanel"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
        // adding crsf token inside the ajax query, needed by Django
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
        function loadAndPlot(url,callback) {
//            $('#viewPanel').empty();
            $.ajax({ url: url,
                    type: "POST",
                    data: new FormData($('#uploadForm')[0]),
                    processData: false,
                    contentType: false,
                    dataType:"json",
                    success: callback
            })
            return false;
        }
    function createmarkers(){
	var item = {x:[1,1],y:[1,2], mode:'markers', type: 'scatter', marker: { size : 9,color : [] }, hoverinfo:'none' };
	return item;
	}
    function createMarkers(){
	var item = {x:[],y:[], mode:'markers', type: 'scatter', marker: { size : 2}, hoverinfo:'none' };
	return item;
	}
    $('.btn').button();
    var xbounds;
    var ybounds;

    var plotData = [
        ['viewAoriginal', 'rgba(112, 219, 112,0.7)', 'rgba(41, 163, 41,1)', $('#viewAoriginal'),-1,{},{},-1,-1],
        ['viewBoriginal', 'rgba(255, 179, 102,0.7)', 'rgba(255, 153, 51,1)', $('#viewBoriginal'), -1,{},{},-1,-1],
        ['viewAongrid', 'rgba(128, 255, 128,0.7)', 'rgba(51, 255, 51,1)', $('#viewAongrid'),-1,{},{},-1,-1],
        ['viewBongrid', 'rgba(255, 153, 102,0.7)', 'rgba(255, 102, 26,1)', $('#viewBongrid'),-1,{},{},-1,-1],
        ['viewABongrid', 'rgba(128, 255, 128,0.7)', 'rgba(51, 255, 51,1)', $('#viewABongrid'),-1,{},{},-1,-1],
        ['viewBAongrid', 'rgba(255, 153, 102,0.7)', 'rgba(255, 102, 26,1)', $('#viewBAongrid'),-1,{},{},-1,-1],
        ['viewAinterBongrid', 'rgba(204, 153, 102,0.7)', 'rgba(172, 115, 57,1)', $('#viewAinterBongrid'),-1,{},{},-1,-1]
    ];

    $.each(plotData, function(index,data) {
        data[3].click(function(){  
			var container = document.getElementById('viewPanel');
          
			document.getElementById('oo').innerHTML = '';
			document.getElementById('oobis').innerHTML = data[3];

            		if (data[3].hasClass("checked")) {
				document.getElementById('oo').innerHTML = data[3].value;
				document.getElementById('oobis').innerHTML = data[3].hasClass("checked");
				
                		Plotly.deleteTraces(container,data[4]);
				addshapes = container.layout.shapes.slice(0,data[7]).concat(container.layout.shapes.slice(data[8]+1,container.layout.shapes.length));
				update = {shapes : addshapes};
				Plotly.relayout(container, update);
//				data[3].removeClass('checked');
				$.each(plotData, function(indexbis,databis) {
					if (databis[4] > data[4]){
						databis[4]=databis[4]-1;
						databis[7]=databis[7]-(data[8]-data[7]+1);
						databis[8]=databis[8]-(data[8]-data[7]+1);
					}
				});
				data[4] = -1;
				data[7] = -1;
				data[8] = -1;

		        } else {
				document.getElementById('oo').innerHTML = 'ajout';
				document.getElementById('oobis').innerHTML = data[3].hasClass("checked");

				addshapes = container.layout.shapes.concat(data[6]);
 				data[7]=container.layout.shapes.length;
 				data[8]=addshapes.length-1;
				update = {shapes : addshapes};
				Plotly.relayout(container, update);
				Plotly.addTraces(container, data[5]);				
//				data[3].toggleClass('checked');
 				data[4]=container.data.length-1;

           		}
			data[3].toggleClass("checked");
 
        });
    });
    $("#initPlot").click(function(){
    	var container = document.getElementById('viewPanel');
        var layout = {margin:{t:10},width: 600,height: 400,shapes : [],xaxis:{range : xbounds},yaxis:{range : ybounds}};
        var minmax = {x:xbounds,y:ybounds, mode:'markers', type: 'scatter', marker: { size : 20}, hoverinfo:'none' };
    	  $.each(plotData, function(index,data) {
		document.getElementById(data[0]).style.backgroundColor = data[1];
		document.getElementById(data[0]).disabled = '';
		if (data[3].hasClass("checked")) {data[3].toggleClass("checked");}
	  });

    	  Plotly.newPlot(container,[minmax],layout);

    })
    $("#comparisonGo").click(function(){
    	var container = document.getElementById('viewPanel');
    	var item;
    	var trace = [];
	var update;
	var addshapes;

        var ppa = document.getElementById("ppa").value;
        if (isNaN(ppa) || ppa=="%20" || ppa>10000) {
        	text = "Input not valid : " + ppa;
		container.innerHTML=text;
    	} else {
	  xbounds = [];
	  ybounds = [];
	  document.getElementById('initPlot').disabled = '';

	  container.innerHTML="";
  	  var url = "{% url 'sharekernel:ViNOComparison2D' vinoA.id vinoB.id 3000 %}"
	  url = url.replace("3000",ppa);

	  var vinotype = [];
	  loadAndPlot(url,function (data) {
		$.each(data, function(rank,vino) {
			if (rank>0){
			    item = createMarkers();
			    trace = [];
			    if (vinotype[rank-1] == 'kdtree'){	
				$.each(vino, function(index,bar) {
		                    if (index>0){
		                        item.x.push(bar[0]);
                		        item.y.push(bar[1]);
					trace.push(OtherRectangle(bar[2],bar[3],bar[4],bar[5],plotData[rank-1][2],plotData[rank-1][1]));
				    }
		              });
				item.marker.color = plotData[rank-1][2];
  				plotData[rank-1][5] = [item];
				plotData[rank-1][6] = trace;
			    }
			    else if (vinotype[rank-1] == 'bars'){
				var x = [];
				var y = [];                
				var map = [];                
		                var mapinit = [x,y];
				var mapitems = [];                
          		        var mapinititems = [item.x,item.y];
				var xstep,ystep;
		                $.each(vino, function(index,bar) {
		                    if (index==0){
					xstep = bar[4]/2;
					ystep = bar[5]/2;
	                                if (rank == 3){ 
/*					if (xbounds.length > 0){
			
						if (xbounds[0] > bar[0]-xstep) {xbounds[0] = bar[0]-xstep;}
						if (xbounds[1] < bar[2]+xstep) {xbounds[1] = bar[2]+xstep;//document.getElementById('oobis').innerHTML = xbounds[1];
}	
						if (ybounds[0] > bar[1]-ystep) {ybounds[0] = bar[1]-ystep;}
						if (ybounds[1] < bar[3]+ystep) {ybounds[1] = bar[3]+ystep;}
					}
					else{*/

						xbounds.push(bar[0]);
						xbounds.push(bar[2]);
						ybounds.push(bar[1]);
						ybounds.push(bar[3]);


					}

					map.push(mapinit[bar[6]]);
					map.push(mapinit[bar[7]]);
					mapitems.push(mapinititems[bar[6]]);
					mapitems.push(mapinititems[bar[7]]);
		                        x.push(0);
					x.push(1);
					y.push(0);
					y.push(1);
				    }
				    else {
					map[0][0]=bar[0];
					map[0][1]=bar[0];
					map[1][0]=bar[1];
					map[1][1]=bar[2];
		                        mapitems[0].push(bar[0]);
		                        mapitems[0].push(bar[0]);
		                        mapitems[1].push(bar[1]);
		                        mapitems[1].push(bar[2]);
					trace.push(bargridRectangle(x,y,xstep,ystep,plotData[rank-1][2],plotData[rank-1][1]));
				    }
				})
				item.marker.color = plotData[rank-1][2];
  				plotData[rank-1][5] = [item];
				plotData[rank-1][6] = trace;
				plotData[rank-1][4] = -1;
				plotData[rank-1][7] = -1;
				plotData[rank-1][8] = -1; 

			    }
			}
			else {
			    $.each(vino, function(index,vinoType) {
				vinotype.push(vinoType);
			    })
			}
		});
	  });

	}
    });

/*
    $('.btn').button();
    var container = $('#viewPanel')[0];
    var plotsData = [
        ['VinoA', 'rgb(255,0,0,0.4)', {{ gridA }}, $('#viewA'), {}, -1],
        ['VinoB', 'rgb(0,0,255,0.4)', {{ gridB }}, $('#viewB'), {}, -1],
        ['A - B', 'rgb(255,0,0,0.4)', {{ minusgridAB }}, $('#viewAminusB'), {}, -1],
        ['B - A', 'rgb(0,0,255,0.4)', {{ minusgridBA }}, $('#viewBminusA'), {}, -1],
        ['Intersection', 'rgb(255,0,255,0.4)', {{ intersection }}, $('#viewIntersection'), {}, -1]
    ];
    $.each(plotsData, function(index,data) {
        data[4] = {x:[],y:[], mode:'markers', type: 'scatter', marker: { size : 9, color: data[1] }, hoverinfo:'none' };
        $.each(data[2], function(index,bar) {
            data[4].x.push(bar[0]);
            data[4].x.push(bar[0]);
            data[4].y.push(bar[1]);
            data[4].y.push(bar[2]);
        });
        data[3].click(function(){
            data[3].toggleClass('checked')
            if (data[3].hasClass('checked')) {
                data[5]=container.data.length;
                Plotly.addTraces(container, data[4]);
            } else {
                Plotly.deleteTraces(container, [data[5]])
            }
        });
    });
    Plotly.newPlot(container,[],{margin:{t:0}});
*/
</script>

{% endblock %}