<h3>The file you are going to uptload must begin by :</h3>

<h2>Metadata for the viability problem description</h2>
#Category:{% if category %}{{category.category_text}} {% else %} To be completed {% endif %}<br>
#Title:{% if viabilityproblem %}{{viabilityproblem.title}} {% else %} To be completed {% endif %}<br>
#Issue:{% if viabilityproblem %}{{viabilityproblem.issue}} {% else %} To be completed {% endif %}<br>
#StateDimension:{% if viabilityproblem %}{{viabilityproblem.statedimension}} {% else %} To be completed {% endif %}<br>
#StateNameAndAbbreviation:{% if viabilityproblem %}{{viabilityproblem.statenameandabbreviation}} {% else %} To be completed {% endif %}<br>
#ControlDimension:{% if viabilityproblem %}{{viabilityproblem.controldimension}} {% else %} To be completed {% endif %}<br>
#ControlNameAndAbbreviation:{% if viabilityproblem %}{{viabilityproblem.controlnameandabbreviation}} {% else %} To be completed {% endif %}<br>
#DynamicsDescription:{% if viabilityproblem %}{{viabilityproblem.dynamicsdescription}} {% else %} To be completed {% endif %}<br>
#AdmissibleControlDescription:{% if viabilityproblem %}{{viabilityproblem.admissiblecontroldescription}} {% else %} To be completed {% endif %}<br>
#DynamicsParameters:{% if viabilityproblem %}{{viabilityproblem.dynamicsparameters}} {% else %} To be completed {% endif %}<br>
#StateConstraintDescription:{% if viabilityproblem %}{{viabilityproblem.stateconstraintdescription}} {% else %} To be completed {% endif %}<br>
#StateConstraintParameters:{% if viabilityproblem %}{{viabilityproblem.stateconstraintparameters}} {% else %} To be completed {% endif %}<br>
#TargetDescription:{% if viabilityproblem %}{{viabilityproblem.targetdescription}} {% else %} To be completed {% endif %}<br>
#TargetParameters:{% if viabilityproblem %}{{viabilityproblem.targetparameters}} {% else %} To be completed {% endif %}<br>

<h2>Metadata for the parameter values </h2>
#DynamicsParameterValues:{% if parameters %}{{parameters.dynamicsparametervalues}} {% else %} To be completed {% endif %}<br>
#StateConstraintParameterValues:{% if parameters %}{{parameters.stateconstraintparametervalues}} {% else %} To be completed {% endif %}<br>
#TargetParameterValues:{% if parameters %}{{parameters.targetparametervalues}} {% else %} To be completed {% endif %}<br>

<h2>Metadata for the software </h2>
#ProgramName:{% if algorithm %}{{algorithm.name}} {% else %} To be completed {% endif %}<br>
#ProgramAuthor:{% if algorithm %}{{algorithm.author}} {% else %} To be completed {% endif %}<br>
#Version:{% if algorithm %}{{algorithm.version}} {% else %} To be completed {% endif %}<br>
#Publication:{% if algorithm %}{{algorithm.publication}} {% else %} To be completed {% endif %}<br>
#SoftwareWebSite:{% if algorithm %}{{algorithm.softwarewebsite}} {% else %} To be completed {% endif %}<br>
#SoftwareContact:{% if algorithm %}{{algorithm.softwarecontact}} {% else %} To be completed {% endif %}<br>
#SoftwareParameters:{% if algorithm %}{{algorithm.softwareparameters}} {% else %} To be completed {% endif %}<br>

<h2>Metadata for the result format </h2>
#FormatName:{% if resultformat %}{{resultformat.name}} {% else %} To be completed {% endif %}<br>
#FormatDescription:{% if resultformat %}{{resultformat.description}} {% else %} To be completed {% endif %}<br>
#FormatParameterList:{% if resultformat %}{{resultformat.parameterlist}} {% else %} To be completed {% endif %}<br>

<h2>Metadata for the results </h2>
#ResultAuthor:To be completed<br>
#ResultSubmissionDate:To be completed<br>
#ResultContactEmail:To be completed<br>
#SoftwareParameterValues:To be completed<br>
#FormatParameterValues:To be completed<br>

#Next line begins the data<br>


Go back the the <a href="/sharekernel/metadatafilespecification/N/N/N/N/N/">specification page.</a>

Complete and insert at the beginning of your data and go to the <a href="/sharekernel/kernelupload/">upload page.</a>