{% extends "base.html" %}

{% block body %}

	<div id="container">
		<div id="main">

			<p>Share Your Kernel is a platform on numerical methods to solve viability problems.<p>
			<p>The interest of this platform is to show the results obtained on different problems, from simple to complex, and 
			 to encourage the comparison of results of the different methods and softwares.</p>
			<p>The aim is to stimulate trade and allow better selection of methods according to the characteristics of the viability problems under consideration,
 			which will facilitate the application to concrete problems. </p>

			<div id="column_left">  <a href="{% url 'sharekernel:kerneluploadpage' %}">Upload your kernel</a> and benefit from the platform services : 

				<ul>
				<li>	visualisation including the computation of the distance to the boundary (in progress)</li>
				<li>	comparison with kernels obtained by other algorithms (in progress) </li>
				<li>	viable evolution design (to do) </li>
				<li>	automated test of your results (to do)</li> 
				<li>	persistent URL (to do)</li>
 				</div>
			<div id="column_right">
                            <p>
                                <a href="{% url 'sharekernel:visitcategorylist' %}">
                                    Visit the database</a> gathering viability kernels from many fields ...
                            </p>
                            <p>
                                <a href="{% url 'sharekernel:results_tree' %}">View the database as a tree</a>
                            </p>
			 </div>
			<!-- this layer solve some issue about the css design, forced the #main layer height equal to height of two column layer (#columnt_left and #column_right) inside itself -->
			<div class="spacer"></div>
                        {% if lastkernels %}
                            <div id="last_kernels">
                                                    Last kernels:
                                                    <ul class="kernelslist">
                            {% for kernel in lastkernels %}
                            <li><a href="{% url 'sharekernel:visitresult' kernel.id %}" kernelid="{{kernel.id}}">{{kernel.parameters.viabilityproblem.title}} - {{kernel.author}} - {{kernel.submissiondate}}</a></li>
                            {% endfor %}
                            </ul>
                                                </div>
                        {% endif %}                        

		<!-- close #main content -->
		</div>
	<!-- close #container -->
	</div>

{% endblock %}