{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'sharekernel/style.css' %}" />


<body>
	<div id="container">
		<div id="topbar"> 
		</div>
		<div id="navbar"> </div>
		<!-- the main section where all pages will be loaded using URL variables and PHP include() function -->
		<div id="main">
<!--						<img src="{% static 'sharekernel/images/logo_site.png' %}" width = "250px" alt="Photo de mon gite" /> -->

			Share Your Kernel is a platform on numerical methods to solve viability problems.<br>
			The interest of this platform is to show the results obtained on different problems, from simple to complex, and 
			 to encourage the comparison of results of the different methods and softwares.<br>
			The aim is to stimulate trade and allow better selection of methods according to the characteristics of the viability problems under consideration,
 			which will facilitate the application to concrete problems. <br><br>

			<div id="column_left">  <a href="/sharekernel/kernelupload/">Upload your kernel</a> and benefit from the platform services : 
				<ul><li>	comparison with kernels obtain by other algorithms </li>
				<li>	visualisation</li>
				<li>	doi?? </li>
				<li>	Automated test of your results </li> 
 				</div>
			<div id="column_right">  <a href="/sharekernel/visitcategorylist/">Visit the database</a> gathering viability kernels from many fields ...<br>
			 </div>
			<!-- this layer solve some issue about the css design, forced the #main layer height equal to height of two column layer (#columnt_left and #column_right) inside itself -->
			<div class="spacer"></div>

		<!-- close #main content -->
		</div>
	<!-- close #container -->
	</div>
</body>

