{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <img class="img-responsive pull-left"  src="{% static 'sharekernel/images/noyau.png' %}" /><h1>Share your kernel!</h1>
        <p>Share Your Kernel is a platform on numerical methods to solve viability problems.<p>
        <p>The interest of this platform is to show the results obtained on different problems, from simple to complex, and 
            to encourage the comparison of results of the different methods and softwares.</p>
        <p>The aim is to stimulate trade and allow better selection of methods according to the characteristics of the viability problems under consideration,
            which will facilitate the application to concrete problems. </p>
    </div>
    <div id="row">
        <div class="col-sm-8 col-sm-offset-2">
            <a href="{% url 'sharekernel:results_tree' %}">Explore</a> and describe new problems addressed, upload associated kernels and benefit from the platform services : 
            <ul>
                <li>	visualisation including the computation of the distance to the boundary</li>
                <li>	comparison with kernels obtained by other algorithms (in progress) </li>
                <li>	viable evolution design (in progress) </li>
                <li>	automated test of your results (to do)</li> 
                <li>	persistent URL (to do)</li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            {% if lastproblems %}
                <h3>Last Viability Problems</h3>
                <div id="row">
                    {% for problem in lastproblems %}
                        {% include 'sharekernel/viabilityproblem_card.html' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-sm-8 col-sm-offset-2">                       
            {% if lastkernels %}
                <h3>Last uploaded kernels</h3>
                <ul class="kernelslist">
                    {% for kernel in lastkernels %}
                    <li><a href="{% url 'sharekernel:visitresult' kernel.id %}" kernelid="{{kernel.id}}">{{kernel.parameters.viabilityproblem.title}} - {{kernel.author}} - {{kernel.submissiondate}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}