{% load staticfiles %}

<script src="{% static 'sharekernel/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'sharekernel/vis.js' %}"></script>
<script src="{% static 'sharekernel/plotly-latest.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'sharekernel/vis.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'sharekernel/histogram.css' %}" />

<body>
    To get help to write the metadata and the data in your file, please go to the <a href="{% url 'sharekernel:metadatafilespecification' 'N' 'N' 'N' 'N' 'N' %}">specification page.</a>

    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url 'sharekernel:hdf5record' %}" id="uploadForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>
    <p><input type="submit" id="viewVis" value="View with vis.js" /></p>
    <p><input type="submit" id="viewPlotly" value="View with plotly.js" /></p>
    <p><input type="submit" id="viewHisto" value="View Distance Histogram" /> with maximum value <input id="maxvalue"></p>
    <div id="viewPanel"></div>
    <div id="histoTitle"></div>
    <div id="histo"></div>
    <div id="labels"></div></div>
    <script type="text/javascript">
        // adding crsf token inside the ajax query, needed by Django
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
        function loadAndPlot(url,callback) {
            $('#viewPanel').empty();
            $.ajax({ url: url,
                    type: "POST",
                    data: new FormData($('#uploadForm')[0]),
                    processData: false,
                    contentType: false,
                    dataType:"json",
                    success: callback
            })
            return false;
        }
        $("#viewVis").click(function(){
            var url = "{% url 'sharekernel:bargrid2json' %}"
	    loadAndPlot(url,function (data) {
                var container = document.getElementById('viewPanel');
                var items = [];
                $.each(data, function(index, bar) {
                items.push({x: bar[0], y: bar[1]});
                        items.push({x: bar[0], y: bar[2]});
                });
                var dataset = new vis.DataSet(items);
                var graph2d = new vis.Graph2d(container, dataset, {style:'points'});
            })
        });
        $("#viewPlotly").click(function(){
            var url = "{% url 'sharekernel:bargrid2json' %}"
	    loadAndPlot(url,function (data) {
                var container = document.getElementById('viewPanel');
                var items = {x:[],y:[], mode:'markers', type: 'scatter', marker: { size : 4, color: [] }, hoverinfo:'none' };
                $.each(data, function(index,bar) {
                    items.x.push(bar[0]);
                    items.y.push(bar[1]);
                    items.marker.color.push(bar[2]);
              });
                Plotly.newPlot(container,[items],{margin:{t:0}});
            })
        });
        $("#viewHisto").click(function(){
	    var url = "{% url 'sharekernel:bargrid2json2' 0 %}";
	    var x, text;
	    document.getElementById('histo').innerHTML = "";
            // Get the value of the input field with id="numb"
            x = document.getElementById("maxvalue").value;
//	    x = 5;
	    // If x is Not a Number 
    	    if (isNaN(x) || x=="%20") {
        	text = "Input not valid : " + x;
    	    } else {
        	text = "Distance Histogram with values between 1 and " + x;
	    	url = url.replace("0",x);
	    	loadAndPlot(url,function (data) {
//                	var container = document.getElementById('viewPanel');
			var items = {x:[],y:[]};
//	        	container.innerHTML="Youpi";
			$.each(data, function(index,bar) {
                    	items.x.push(bar[0]);
                    	items.y.push(bar[1]);
	        	});
	        	histodata(items.x,items.y);
	        	makeGraph();
		          
	    	})
	    }
	    document.getElementById('histoTitle').innerHTML= text;
        });
	function histodata(x,y)
	{
 	/**** ch est une chaine qui va recevoir toutes les commandes HTML permettant mettre les valeurs de l'hitogrammme dans un tableau html************/
        var container = document.getElementById('histo');
	var max = x.length;
 	var ch="";
 	ch+='<ul>';
        for (var i=1;i<max;i++)
  	{ //dessin des barres
   	ch+='<li>'+y[i]+':'+x[i]+'</li>';
  	}
 	ch+='</ul>'; 

 	container.innerHTML=ch;
	}

    function makeGraph()
    {
    var container = document.getElementById("histo");
    var labels = document.getElementById("labels");
    var dnl = container.getElementsByTagName("li");
    var maxvalue = 0;
    for(var i = 0; i < (dnl.length-1); i++)
    {
	if (parseInt(dnl.item(i).innerHTML.split(":")[0]) > maxvalue){
	    maxvalue = parseInt(dnl.item(i).innerHTML.split(":")[0]);
	}
      }
    labels.innerHTML = "<span style='margin:16px'></span>";
    if (maxvalue == 0) maxvalue = 200;
    for(i = 0; i < dnl.length; i++)
    {
        var item = dnl.item(i);
        var value = item.innerHTML;
        var content = value.split(":");
        value = content[0];
        item.innerHTML = value;
	if (parseInt(value)>maxvalue){
		value = maxvalue+10;
		item.style.borderTop = "1px dotted white";
	}
        item.style.top=(199 - value*200/maxvalue) + "px";
        item.style.left = (i * 61 + 20) + "px";
        item.style.height = value*200/maxvalue + "px";
	item.style.width = 60 + "px";
        item.style.visibility="visible";	
        left = (i * 60 + 120) + "px";
//	labels.innerHTML = labels.innerHTML + content[1];
	var ecart = "";
	if (parseInt(content[1])<10) ecart= "25";
	else if (parseInt(content[1])<100) ecart= "21";
	else if (parseInt(content[1])<1000) ecart= "16";
	else ecart= "10";  	
	labels.innerHTML = labels.innerHTML +
             "<span style='margin:"+ecart+"px'>" + 
             content[1] + "</span>";      
    }
}

    </script>
</body>
