{% extends "base.html" %}

{% block body %}
<div id="container">
		<div id="topbar"> 
		</div>
		<div id="navbar"> <a href="{% url 'sharekernel:home' %}">HOME</a></div>
		<!-- the main section where all pages will be loaded using URL variables and PHP include() function -->
		<div id="main">
This page aims at helping you write the metadata and the data for your file to be properly uploaded.<br>
Please answer the following questions and we will provide you with detailed instructions.<br>

<h4>Does the viability problem you deal with belong to a category covered by the database?</h4> 

{% if category %}Category : {{category.text}} 
                 <a href="{% url 'sharekernel:categorylist' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}"> (modify)</a>

			<h4>Do you deal with a viability problem contained in the database? </h4>

			{% if viabilityproblem %}Viability Problem : {{viabilityproblem.title}}
                 <a href="{% url 'sharekernel:viabilityproblemlist' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">(modify)</a>

                 <h4>Do the parameter values associated with your result belong to the database?</h4>

			{% if parameters %}Parameters : {{parameters.dynamicsparametervalues}}
                 <a href="{% url 'sharekernel:parameterslist' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">(modify)</a>

	 {% else %} 

                 <a href="{% url 'sharekernel:parameterslist' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">Browse the parameter database.</a>
                {% endif %}



 {% else %} 

                 <a href="{% url 'sharekernel:viabilityproblemlist' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">Browse the viability problem database.</a>

                {% endif %}


 {% else %} 
<a href="{% url 'sharekernel:categorylist' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">Browse the category database.</a> {% endif %}<br>




<h4>Is the software you have used listed in the database?</h4>
{% if algorithm %}Algorithm : {{algorithm.name}}
                 <a href="{% url 'sharekernel:algorithmlist' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">(modify)</a>
{%else%}
                 <a href="{% url 'sharekernel:algorithmlist' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">Browse the algorithm database.</a>

{% endif %}
<h4>Which result file format do you use? </h4>

{% if resultformat %}Result Format : {{resultformat.name}}
                 <a href="{% url 'sharekernel:resultformatlist' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">(modify)</a>
{%else%}
                 <a href="{% url 'sharekernel:resultformatlist' category_id viabilityproblem_id parameters_id algorithm_id resultformat_id %}">Browse the result format database.</a>

{% endif %}

{% if resultformat %}
<form action="{% url 'sharekernel:metadatafilecontent' category_id  viabilityproblem_id  parameters_id  algorithm_id  resultformat_id %}" method="post">
{% csrf_token %}
<input type="submit" value="Create the metadata and data specifications" />

</form>

{%else%}
<br>You have to specify the result format you use to create the metadata and data specifications.

{% endif %}

			<div class="spacer"></div>


		<!-- close #main content -->
		</div>
	<!-- close #container -->
	</div>

{% endblock %}