{% extends "base.html" %}

{% load staticfiles %}
{% load javascript_redirect %}

{% block body %}

<div class="container">
<h3>View result {{ result }}</h3>
<p>This result doesn't contain enough information on the studied model and the algorithm used.</p>
<p>You will be redirected to a <a id="redirect_link" href="{% url 'sharekernel:editresult' result.pk %}">form for completing the required metadata</a>
    in <span id="remaining_seconds">10</span> seconds.</p>
</div>
{% countdown_redirect 'redirect_link' 'remaining_seconds' %}

{% endblock %}
