{% if parameters_list %}
    <ul>
    {% for parameters in parameters_list %}
        <li><a href="{% url 'sharekernel:metadatafilespecification' category_id  viabilityproblem_id parameters.id algorithm_id resultformat_id %}">{{ parameters.dynamicsparametervalues }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No parameters are available.</p>
{% endif %}
<a href="{% url 'sharekernel:metadatafilespecification' category_id  viabilityproblem_id parameters_id algorithm_id resultformat_id %}">Annuler</a>
