Your file do not share the specifications.<br>
The following fiels are not correct : 



<h2>Metadata for the viability problem description</h2>
{% for i in tt%}

{% if i == 0%} #Category <br>	{% endif%}
{% if i == 1%} #Title <br>{% endif%}
{% if i == 2%} #Issue <br>{% endif%}
{% if i == 3%} #StateDimension <br>{% endif%}
{% if i == 4%} #StateNameAndAbbreviation <br>{% endif%}
{% if i == 5%} #ControlDimension <br>{% endif%}
{% if i == 6%} #ControlNameAndAbbreviation <br>{% endif%}
{% if i == 7%} #DynamicsDescription <br>{% endif%}
{% if i == 8%} #AdmissibleControlDescription <br>{% endif%}
{% if i == 9%} #DynamicsParameters <br>{% endif%}
{% if i == 10%} #StateConstraintDescription <br>{% endif%}
{% if i == 11%} #StateconstraintParameters <br>{% endif%}
{% if i == 12%} #TargetDescription <br>{% endif%}
{% if i == 13%} #TargetParameters <br>{% endif%}
{% endfor%}


<h2>Metadata for the parameter values </h2>

{% for i in tt%}

{% if i == 14%} #DynamicsParameterValues <br>	{% endif%}
{% if i == 15%} #StateConstraintParameterValues <br>{% endif%}
{% if i == 16%} #TargetParameterValues <br>{% endif%}
{% endfor%}


<h2>Metadata for the software </h2>

{% for i in tt%}

{% if i == 17%} #ProgramName <br>	{% endif%}
{% if i == 18%} #ProgramAuthor <br>{% endif%}
{% if i == 19%} #Version <br>{% endif%}
{% if i == 20%} #Publication <br>{% endif%}
{% if i == 21%} #SoftwareWebSite <br>{% endif%}
{% if i == 22%} #SoftwareContact <br>{% endif%}
{% if i == 23%} #SoftwareParameters <br>{% endif%}
{% endfor%}


<h2>Metadata for the result format </h2>

{% for i in tt%}

{% if i == 24%} #FormatName <br>	{% endif%}
{% if i == 25%} #FormatDescription <br>{% endif%}
{% if i == 26%} #FormatParameterList <br>{% endif%}
{% endfor%}


<h2>Metadata for the results </h2>

{% for i in tt%}

{% if i == 27%} #ResultAuthor <br>	{% endif%}
{% if i == 28%} #ResultSubmissionDate <br>{% endif%}
{% if i == 29%} #ResultContactEmail <br>{% endif%}
{% if i == 30%} #SoftwareParameterValues <br>{% endif%}
{% if i == 31%} #FormatParameterValues <br>{% endif%}
{% endfor%}

<h2>Metadata for the data file description</h2> 


Go back to the <a href="{% url 'sharekernel:kernelupload' %}">upload page.</a>