{% comment %}
Displays information about a problem in a card format.
This format is suitable for displaying several problems in a thumbnails/cards layout.

See also about the card layout:
 - http://semantic-ui.com/views/card.html
 - "Card" component in bootstrap4
{% endcomment %}

{% load truncatesmart %}

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class=""><a href="{% url 'sharekernel:visitviabilityproblem' problem.value.id %}">{{ problem.value.title }}</a></h4>
            <table class="resultscolours"><tr>
                {% for software,results in problem.resultsBySoftware.items %}
                    {% for result in results %}
                    <td class="color{{software.id}}" title=" Software {{software.title}}">&nbsp;</td>
                    {% endfor %}
                {% endfor %}
            </tr></table>
            <p><strong>{{ problem.value.parameters_set.count }}</strong> parameters set{{ problem.value.parameters_set.count|pluralize }} - <strong>{{ problem.nbResults }}</strong> Vino{{problem.nbResults|pluralize }}</p>
        </div>
        <div class="panel-body">
            {% comment %}
            FIXME formatStats is empty
            <p>{{ problem.formatStats }}</p>
            <div class="format-stats-graph" style="width:100%">
                {% for format,prop in problem.formatStats.items %}
                <span class="format-color" style="width:{{prop}}%;background-color={% cycle '#90C3D4' '#D4A190' %};">&nbsp;</span>
                {% endfor %}
            </div>
            {% endcomment %}
            <p>{{ problem.value.issue|truncatesmart:80 }}</p>
            <ul class="list-unstyled">
                <li><strong>{{ problem.value.statedimension }}D</strong> space</li>
                <li><strong>{{ problem.value.controldimension }}D</strong> control</li>
                <li><strong>?D</strong> perturbation</li>
                <li>continuous or discrete time ?</li>
            </ul>
        </div>
    </div>
</div>
{% truncatesmartjavascript %}

<style type="text/css">
.resultscolours { width:100%; }
.resultscolours tr,.resultscolours td {height:8px;overflow: hidden; padding:0; line-height: 0; }
{% for software in software_list %}

table .color{{software.id}} { background-color:rgb({{software.id}}00,0,{{software.id}}); }
{% endfor %}</style>
