{% extends "base.html" %}

{% block body %}

<div id="container">
		<div id="topbar"> 
		</div>
		<div id="navbar"> <a href="{% url 'sharekernel:home' %}">HOME</a></div>
		<!-- the main section where all pages will be loaded using URL variables and PHP include() function -->
		<div id="main">

Please find below the viability problems featuring in the {{category.text}} category of the database :
{% if viabilityproblem_list %}
    <ul>
    {% for viabilityproblem in viabilityproblem_list %}
        <li><a href="{% url 'sharekernel:metadatafilespecification' category_id viabilityproblem.id parameters_id algorithm_id resultformat_id %}">{{ viabilityproblem.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No viability problems are available.</p>
{% endif %}
<a href="{% url 'sharekernel:metadatafilespecification' category_id  viabilityproblem_id parameters_id algorithm_id resultformat_id %}">Annuler</a>

			<div class="spacer"></div>


		<!-- close #main content -->
		</div>
	<!-- close #container -->
	</div>

{% endblock %}