{% comment %}
Displays information about the mathematic formulation of the problem and
its parameters values if provided
{% endcomment %}
<div class="row">
    <div class="clearfix visible-sm-block"></div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Model</div>
            <div class="panel-body">
                Dimension of the state space : {{viabilityproblem.statevariables.count}}
                <ul>
                    {% for i in stanaab%}
                    <li>  {{i}}</li>
                    {% endfor %}
                </ul>
                Dimension of the control space :  {{viabilityproblem.controlvariables.count}}<br>
                <ul>
                    {% for i in connaab%}
                    <li>  {{i}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Dynamics</div>
            <div class="panel-body">
                {% for i in dyndes%}
                {{ i }}<br>
                {% endfor %}
                <br>
                {% for i in adcondes%}
                {{ i }}<br>
                {% endfor %}
                <br><br>
                Parameters :
                {% if dynparval %}
                <ul>
                    {% for i in dynparval %}
                    <li> {{i}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    {% for v in viabilityproblem.dynamicsparameters.all %}
                      {{v.shortname}}
                      {% if not forloop.last %} , {% endif %}
                    {% endfor %}
                {% endif %}
            </div></div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Constraints</div>
            <div class="panel-body">
                {% for i in stacondes%}
                {{ i }}<br>
                {% endfor %}
                <br>
                {% if viabilityproblem.statedefinitiondomain|length > 0 %}
                plop - {{viabilityproblem.statedefinitiondomain}}
                {% endif %}
                <br>
                Parameters :
                {% if staconparval %}
                <ul>
                    {% for i in staconparval %}
                    <li> {{i}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                  {% for v in viabilityproblem.stateconstraintparameters.all %}
                    {{v.shortname}}
                    {% if not forloop.last %} , {% endif %}
                  {% endfor %}
                {% endif %}
            </div></div></div>
    {% if tardes%}
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Target</div>
            <div class="panel-body">
                {% for i in tardes%}
                {{ i }}<br>
                {% endfor %}
                <br><br>
                Parameters :
                {% if tarparval %}
                <ul>
                    {% for i in tarparval %}
                    <li> {{i}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                {{viabilityproblem.targetparameters}}
                {% endif %}
            </div></div></div>
    {% endif %}
</div>
