{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'sharekernel/style.css' %}" />


<body>
	<div id="container">
		<div id="topbar"> 
		</div>
		<div id="navbar"> <a href="/sharekernel/">HOME</a></div>
		<!-- the main section where all pages will be loaded using URL variables and PHP include() function -->
		<div id="main">
			Several viability kernel approximations have been obtained in many fiels.<br>
 
			The viability kernel approximations available on this website have been deposed by their authors.<br> They 
			<ul>
			<li>Either have been published in scientific revues </li>
			<li>Or show the efficiency of their approximation algorithms and softwares </li>
 			</ul>

			<div id="column_left"> {% if category_list %}
			    <ul>
    				{% for category in category_list %}
        				<li><a href="/sharekernel/visitviabilityproblemlist/{{ category.id }}/">{{ category.category_text }}</a></li>
					{% if category.id in t  %}
		    			<ul>
    					{% for viabilityproblem in viabilityproblem_list %}
        				<li><a href="/sharekernel/visitviabilityproblem/{{ viabilityproblem.id }}/">{{ viabilityproblem.title }}</a></li>
			    		{% endfor %}
    				</ul>

				{% endif %}
    				{% endfor %}
				    </ul>
				{% else %}
    				<p>No categories are available.</p>
				{% endif %}



 
 				</div>
			<div id="column_right">  
			 </div>
			<!-- this layer solve some issue about the css design, forced the #main layer height equal to height of two column layer (#columnt_left and #column_right) inside itself -->
			<div class="spacer"></div>

		<!-- close #main content -->
		</div>
	<!-- close #container -->
	</div>
</body>

