{% extends "base.html" %}
{% load staticfiles %}
  {% block head %}
<style>
a.btn{
    color:#800000;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height: 40%;
      margin: auto;
  }
</style>

<style type="text/css">
.resultscolours { width:100%; }
.resultscolours tr,.resultscolours td {height:8px;overflow: hidden; padding:0; line-height: 0; }
{% for software in software_list %}

table .color{{software.id}} { background-color:rgb({{software.id}}00,0,{{software.id}}); }
{% endfor %}
</style>
{% endblock %}
{% block body %}

<div class="container">
  <h3>Search by topics :</h3> 
 {% if viabilityproblems %}

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     {% if viabilityproblemsminusfirstone %}

                    {% for problem in viabilityproblemsminusfirstone %}

      <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}"></li>
      {% endfor %}
      {% endif %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
<a href="{% url 'sharekernel:visitviabilityproblem' firstviabilityproblem.pk %}">
{% if firstviabilityproblem.illustration %}
        <img src="{{firstviabilityproblem.illustration.url}}" alt="{{firstviabilityproblem.title}}">
{% else %}
        <img src="{% static 'sharekernel/images/vpimage_default.png' %}" alt="{{firstviabilityproblem.title}}">

{% endif %}
</a>
        <div class="carousel-caption">
          <h3>{{firstviabilityproblem.title}}</h3>
          <p></p>
        </div>
      </div>
     {% if viabilityproblemsminusfirstone %}

                    {% for problem in viabilityproblemsminusfirstone %}
    
      <div class="item">
<a href="{% url 'sharekernel:visitviabilityproblem' problem.pk %}">
{% if problem.illustration %}
        <img src="{{problem.illustration.url}}" alt="{{problem.title}}" width="460" height="345">
{% else %}
        <img src="{% static 'sharekernel/images/vpimage_default.png' %}" alt="{{problem.title}}" width="460" height="345">

{% endif %}
</a>
        <div class="carousel-caption">
          <h3>{{problem.title}}</h3>
          <p></p>
        </div>
      </div>

{% endfor %}  
{% endif %}  

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {% endif %}


<hr>
    <div id="row">
        <div class="col-sm-4 ">
            <h3><a href="{% url 'sharekernel:algorithmlist' %}">Softwares</a></h3> used to compute the viability kernels stored in the database : 
{% if software_list %}
    <ul>
    {% for software in software_list %}
        <li><a href="{% url 'sharekernel:visitsoftware' software.id %}">{{ software.title }}</a></li>
            <table class="resultscolours"><tr>
                    <td class="color{{software.id}}" title=" color{{software.id}}">&nbsp;</td>
            </tr></table>

    {% endfor %}
    </ul>
{% endif %}
        </div> 
        <div class="col-sm-8 ">
            {% if viabilityproblemscard %}
                <h3>Advanced Search :</h3>
               sort viability problems by <SELECT name="sortchoice" size="1">
                   <OPTION>State dimension
                   <OPTION>Control dimension
                   <OPTION>Perturbation dimension
                   <OPTION>Dynamics type : continuous, discrete, hybrid with time
                   <OPTION>Number of computed ViNOs
              </SELECT>(TODO)
<br><br>
                <div id="row">
                    {% for problem in viabilityproblemscard %}
                        {% include 'sharekernel/viabilityproblem_card.html' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}