{% extends "base.html" %}

{% load staticfiles %}
{% block head %}
    <script src="{% static 'sharekernel/vinoplot.js' %}"></script>
    <script src="{% static 'sharekernel/vis.js' %}"></script>
    <script src="{% static 'sharekernel/plotly-latest.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'sharekernel/vis.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'sharekernel/histogram.css' %}" />
{% endblock %}
{% block body %}
<div id="container">
		<div id="topbar"> 
		</div>
		<div id="navbar"> <a href="{% url 'sharekernel:home' %}">HOME</a>  <a href="{% url 'sharekernel:visitresult'  result.id %}">Up</a></div>
		<!-- the main section where all pages will be loaded using URL variables and PHP include() function -->
		<div id="main">
<a href="{% url 'sharekernel:visitviabilityproblemlist'  category.id %}">{{category.text}}</a> >  <a href="{% url 'sharekernel:visitviabilityproblem'  viabilityproblem.id %}">{{viabilityproblem.title}}</a>
> <a href="{% url 'sharekernel:visitresult'  result.id %}">{{result.title}}</a><br><br>


    {% if result.parameters.viabilityproblem.statedimension == 2%}
    <p><input type="submit" id="viewPlotlyBW2D" value="View ViNO with plotly.js " /> with <input id="ppa"> points per axis (max : 1000)</p>
    
    <div id="viewPanelBW"></div>

    <p><input type="submit" id="viewPlotlyColor2D" value="View distance colored ViNO with plotly.js" /> with <input id="distanceppa"> points per axis (max : 200) </p>
    <div id="viewPanel"></div>
    {% endif %}
    <p><input type="submit" id="viewHisto" value="View Distance Histogram with plotly.js" /> with <input id="distancehistoppa"> points per axis (max : 200) and with maximum value <input id="maxvalue"></p>
    <div id="histo"></div>
    <div id="labels"></div>
			<div class="spacer"></div>


		<!-- close #main content -->
		</div>
	<!-- close #container -->
	</div>

    <script type="text/javascript">
        // adding crsf token inside the ajax query, needed by Django
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
        function loadAndPlot(url,callback) {
//            $('#viewPanel').empty();
            $.ajax({ url: url,
                    type: "POST",
                    data: new FormData($('#uploadForm')[0]),
                    processData: false,
                    contentType: false,
                    dataType:"json",
                    success: callback
            })
            return false;
        }

	function BarTrace (x,y) {
        var barTrace = {x:[],y:[], mode:'markers', type: 'scatter', markers: { color: 'rgb(55, 128, 191)', size: 2}, hoverinfo:'none' };
	    barTrace.x.push(x[0]);
	    barTrace.x.push(x[1]);
	    barTrace.y.push(y[0]);
	    barTrace.y.push(y[1]);
	return barTrace ;
	}

	function bargridRectangle(x,y,xstep,ystep,colorline,fillcolor){
	var rectangle ={'type': 'rect','x0': x[0]-xstep,'y0': y[0]-ystep,'x1': x[1]+xstep,'y1': y[1]+ystep,'line': {'color': colorline,'width': 1},'fillcolor': fillcolor};
	return rectangle;
	}

	function OtherRectanglebis(xmin,xmax,ymin,ymax){
	var rectangle ={'type': 'rect','x0': xmin,'y0': ymin,'x1': xmax,'y1': ymax,'line': {'color': 'rgba(128, 0, 128, 1)','width': 1},'fillcolor': 'rgba(128, 0, 128, 0.7)'};
	return rectangle;
	}

	function bargridPlot(url,x,container,colormarker,colorline,fillcolor){
    	    if (isNaN(x) || x=="%20" || x>1000) {
        	text = "Input not valid : " + x;
//		var container = document.getElementById('viewPanelBW');
		container.innerHTML=text;
    	    } else {
	    url = url.replace("0",x);
	    loadAndPlot(url,function (data) {
//                var container = document.getElementById('viewPanelBW');
                var items = {x:[],y:[], mode:'markers', type: 'scatter', marker: { size : 2, color: colormarker }, hoverinfo:'none' };
                var trace = [];
                var tracebis = [];
		var x = [];
		var y = [];                
		var map = [];                
                var mapinit = [x,y];
		var mapitems = [];                
                var mapinititems = [items.x,items.y];
		var xstep,ystep;
                var xbounds = [];
                var ybounds = [];
                
                $.each(data, function(index,bar) {
                    if (index==0){
			xstep = bar[4]/2;
			ystep = bar[5]/2;
			xbounds.push(bar[0]-xstep);
			xbounds.push(bar[2]+xstep);
			ybounds.push(bar[1]-ystep);
			ybounds.push(bar[3]+ystep);
			map.push(mapinit[bar[6]]);
			map.push(mapinit[bar[7]]);
			mapitems.push(mapinititems[bar[6]]);
			mapitems.push(mapinititems[bar[7]]);
                        x.push(0);
			x.push(1);
			y.push(0);
			y.push(1);
		    }
		    else {
			map[0][0]=bar[0];
			map[0][1]=bar[0];
			map[1][0]=bar[1];
			map[1][1]=bar[2];
                        mapitems[0].push(bar[0]);
                        mapitems[0].push(bar[0]);
                        mapitems[1].push(bar[1]);
                        mapitems[1].push(bar[2]);

			tracebis.push(bargridRectangle(x,y,xstep,ystep,colorline,fillcolor));
		    }
              });
             var layout = {showlegend: false,margin:{t:10},width: 600,height: 600,shapes : tracebis,xaxis:{range : xbounds},yaxis:{range : ybounds}};
	     trace = [items];
	     Plotly.newPlot(container,trace,layout);
	})}
	}
        $("#viewPlotlyBW2D").click(function(){
            var url = "{% url 'sharekernel:ViNOView2D' result.id 0 %}"
            {% if resultformat.name == 'bars' %}
	    document.getElementById('viewPanelBW').innerHTML = "";
            var x = document.getElementById("ppa").value;
	    var container = document.getElementById('viewPanelBW');
	    var colormarker = 'rgb(255,0,0,0.4)';
	    var colorline = 'rgba(128, 0, 128, 1)';
	    var fillcolor = 'rgba(128, 0, 128, 0.7)';
	    bargridPlot(url,x,container,colormarker,colorline,fillcolor);
            
            {% elif resultformat.name == 'kdtree' %}
	    document.getElementById('viewPanelBW').innerHTML = "";
            loadAndPlot(url,function (data) {
                var container = document.getElementById('viewPanelBW');
                var items = {x:[],y:[], mode:'markers', type: 'scatter', marker: { size : 2, color: 'rgb(55, 128, 191)' }, hoverinfo:'none' };
                var trace = [];
                var tracebis = [];
		var x = [0,0];
		var y = [0,0];                
		var map = [];                
                var mapinit = [x,y];
		var mapitems = [];                
                var mapinititems = [items.x,items.y];
		var xstep,ystep;
                var xbounds = [];
                var ybounds = [];
                
                $.each(data, function(index,bar) {
                        items.x.push(bar[0]);
                        items.y.push(bar[1]);

//			trace.push(BarTrace(x,y));
			tracebis.push(OtherRectanglebis(bar[2],bar[3],bar[4],bar[5]));
//                    map[0].push(bar[0]);
//                    map[0].push(bar[0]);
//                   map[1].push(bar[1]);
//                    map[1].push(bar[2]);
//                    items.marker.color.push(1);
//                    items.marker.color.push(1);
		    
              });
//                Plotly.newPlot(container,[items],{margin:{t:0}});
                var layout = {showlegend: false,margin:{t:10},width: 600,height: 600,shapes:tracebis};
//                var layout = {showlegend: false,margin:{t:0}};
  		trace = [items]
                Plotly.newPlot(container,trace,layout);
            })
 {% endif %}
        });

        $("#viewPlotlyBW2Dbis").click(function(){
            var url = "{% url 'sharekernel:ViNOView2D' result.id 0 %}"
            {% if resultformat.name == 'bars' %}
	    document.getElementById('viewPanelBW').innerHTML = "";
            x = document.getElementById("ppa").value;
//	    x = 5;
	    // If x is Not a Number 
    	    if (isNaN(x) || x=="%20" || x>1000) {
        	text = "Input not valid : " + x;
		var container = document.getElementById('viewPanelBW');
		container.innerHTML=text;
    	    } else {
	    url = url.replace("0",x);
	    loadAndPlot(url,function (data) {
                var container = document.getElementById('viewPanelBW');
                var items = {x:[],y:[], mode:'markers', type: 'scatter', marker: { size : 2, color: 'rgb(55, 128, 191)' }, hoverinfo:'none' };
                var trace = [];
                var tracebis = [];
		var x = [];
		var y = [];                
		var map = [];                
                var mapinit = [x,y];
		var mapitems = [];                
                var mapinititems = [items.x,items.y];
		var xstep,ystep;
                var xbounds = [];
                var ybounds = [];
                
                $.each(data, function(index,bar) {
                    if (index==0){
			xstep = bar[4]/2;
			ystep = bar[5]/2;
			xbounds.push(bar[0]-xstep);
			xbounds.push(bar[2]+xstep);
			ybounds.push(bar[1]-ystep);
			ybounds.push(bar[3]+ystep);
			map.push(mapinit[bar[6]]);
			map.push(mapinit[bar[7]]);
			mapitems.push(mapinititems[bar[6]]);
			mapitems.push(mapinititems[bar[7]]);
                        x.push(0);
			x.push(1);
			y.push(0);
			y.push(1);
		    }
		    else {
			map[0][0]=bar[0];
			map[0][1]=bar[0];
			map[1][0]=bar[1];
			map[1][1]=bar[2];
                        mapitems[0].push(bar[0]);
                        mapitems[0].push(bar[0]);
                        mapitems[1].push(bar[1]);
                        mapitems[1].push(bar[2]);

//			trace.push(BarTrace(x,y));
			tracebis.push(Rectangle(x,y,xstep,ystep));
//                    map[0].push(bar[0]);
//                    map[0].push(bar[0]);
//                   map[1].push(bar[1]);
//                    map[1].push(bar[2]);
//                    items.marker.color.push(1);
//                    items.marker.color.push(1);
		    }
              });
//                Plotly.newPlot(container,[items],{margin:{t:0}});
                var layout = {showlegend: false,margin:{t:10},width: 600,height: 600,shapes : tracebis,xaxis:{range : xbounds},yaxis:{range : ybounds}};
//                var layout = {showlegend: false,margin:{t:0}};
  		trace = [items]
                Plotly.newPlot(container,trace,layout);
            })}
            {% elif resultformat.name == 'kdtree' %}
	    document.getElementById('viewPanelBW').innerHTML = "";
            loadAndPlot(url,function (data) {
                var container = document.getElementById('viewPanelBW');
                var items = {x:[],y:[], mode:'markers', type: 'scatter', marker: { size : 2, color: 'rgb(55, 128, 191)' }, hoverinfo:'none' };
                var trace = [];
                var tracebis = [];
		var x = [0,0];
		var y = [0,0];                
		var map = [];                
                var mapinit = [x,y];
		var mapitems = [];                
                var mapinititems = [items.x,items.y];
		var xstep,ystep;
                var xbounds = [];
                var ybounds = [];
                
                $.each(data, function(index,bar) {
                        if (index>=1){
				items.x.push(bar[0]);
  	                        items.y.push(bar[1]);

//			trace.push(BarTrace(x,y));
				tracebis.push(OtherRectangle(bar[2],bar[3],bar[4],bar[5]));
//                    map[0].push(bar[0]);
//                    map[0].push(bar[0]);
//                   map[1].push(bar[1]);
//                    map[1].push(bar[2]);
//                    items.marker.color.push(1);
//                    items.marker.color.push(1);
		    	}
              });
//                Plotly.newPlot(container,[items],{margin:{t:0}});
                var layout = {showlegend: false,margin:{t:10},width: 600,height: 600,shapes:tracebis};
//                var layout = {showlegend: false,margin:{t:0}};
  		trace = [items]
                Plotly.newPlot(container,trace,layout);
            })
 {% endif %}
        });

        $("#viewPlotlyColor2D").click(function(){
            var url = "{% url 'sharekernel:ViNODistanceView2D' result.id 0 %}"
	    document.getElementById('viewPanel').innerHTML = "";
            x = document.getElementById("distanceppa").value;
//	    x = 5;
	    // If x is Not a Number 
    	    if (isNaN(x) || x=="%20" || x>200) {
        	text = "Input not valid : " + x;
		var container = document.getElementById('viewPanel');
		container.innerHTML=text;
    	    } else {
	    url = url.replace("0",x);
	    loadAndPlot(url,function (data) {
                var container = document.getElementById('viewPanel');
                var items = {x:[],y:[], mode:'markers', type: 'scatter', marker: { size : 4, color: [] }, hoverinfo:'none' };
                var map = [];                
                var mapinit = [items.x,items.y];                
                $.each(data, function(index,bar) {
                    if (index==0){
			map.push(mapinit[bar[0]]);
			map.push(mapinit[bar[1]]);
		    }
		    else {
                    map[0].push(bar[0]);
                    map[1].push(bar[1]);
                    items.marker.color.push(bar[2]);
                    }
              });
                Plotly.newPlot(container,[items],{margin:{t:0}});
            })}
        });
        $("#viewHisto").click(function(){
	    var url = "{% url 'sharekernel:ViNOHistogramDistance' result.id 'N' 'N' %}";
	    var x,y, text;
	    document.getElementById('histo').innerHTML = "";
            // Get the value of the input field with id="numb"
            x = document.getElementById("maxvalue").value;
	    y = document.getElementById("distancehistoppa").value;
//	    x = 5;
	    // If x is Not a Number 
    	    if (isNaN(x) || x=="%20" || isNaN(y) || y=="%20") {
        	text = "Input not valid : " + y + " " +x;
		var container = document.getElementById('histo');
		container.innerHTML=text;

    	    } else {
	    	url = url.replace("N/N",y+"/"+x);
//		var histogram = {x: ['giraffes', 'orangutans', 'monkeys'],y: [20, 14, 23],type: 'bar'};
		var histogram = {x: [],y: [],type: 'bar', marker: {
    color: 'rgb(158,202,225)',
    opacity: 0.6,
    line: {
      color: 'rbg(8,48,107)',
      width: 1.5
    }
  }};
		var maxi=0;
		var maxitrop=0;
		var derniere;
		var ch="1-";
	    	loadAndPlot(url,function (data) {
//                	var container = document.getElementById('viewPanel');
//			var items = {x:[],y:[]};
//	        	container.innerHTML="Youpi";
			$.each(data, function(index,bar) {
                    	if (index>0){
			if (index>1){
				ch+=bar[0];
				histogram.x.push(ch);
				ch="";
				ch+=bar[0]+'-';
			}
                    	histogram.y.push(bar[1]);
			if (bar[1]>maxitrop){
				maxi=maxitrop;
				maxitrop=bar[1];			
			}
			derniere=bar[1];
	        	}});
			ch = ch.replace("-","");
			ch='more than '+ch;
			histogram.x.push(ch);
//	        	histodata(items.x,items.y);
//	        	makeGraph();
//			makeGraph();
			if (maxitrop==derniere){
				maxi = maxi+(maxitrop-maxi)/10;
			}
			else maxi = maxitrop;
			var layout = {width: 600,height: 300,yaxis:{range : [0,maxi]}};
		        Plotly.newPlot('histo', [histogram],layout);         
	    	})
	    }
        });



    function histodata(x,y)
	{
 	/**** ch est une chaine qui va recevoir toutes les commandes HTML permettant mettre les valeurs de l'hitogrammme dans un tableau html************/
        var container = document.getElementById('histo');
	var max = x.length;
 	var ch="";
 	ch+='<ul>';
        for (var i=1;i<max;i++)
  	{ //dessin des barres
   	ch+='<li>'+y[i]+':'+x[i]+'</li>';
  	}
 	ch+='</ul>'; 

 	container.innerHTML=ch;
	}


    function makeGraph()
    {
    var container = document.getElementById("histo");
    var labels = document.getElementById("labels");
    var dnl = container.getElementsByTagName("li");
    var maxvalue = 0;
    for(var i = 0; i < (dnl.length-1); i++)
    {
	if (parseInt(dnl.item(i).innerHTML.split(":")[0]) > maxvalue){
	    maxvalue = parseInt(dnl.item(i).innerHTML.split(":")[0]);
	}
      }
    labels.innerHTML = "<span style='margin:16px'></span>";
    if (maxvalue == 0) maxvalue = 200;
    for(i = 0; i < dnl.length; i++)
    {
        var item = dnl.item(i);
        var value = item.innerHTML;
        var content = value.split(":");
        value = content[0];
        item.innerHTML = value;
	if (parseInt(value)>maxvalue){
		value = maxvalue+10;
		item.style.borderTop = "1px dotted white";
	}
        item.style.top=(199 - value*200/maxvalue) + "px";
        item.style.left = (i * 61 + 20) + "px";
        item.style.height = value*200/maxvalue + "px";
	item.style.width = 60 + "px";
        item.style.visibility="visible";	
        left = (i * 60 + 120) + "px";
//	labels.innerHTML = labels.innerHTML + content[1];
	var ecart = "";
	if (parseInt(content[1])<10) ecart= "25";
	else if (parseInt(content[1])<100) ecart= "21";
	else if (parseInt(content[1])<1000) ecart= "16";
	else ecart= "10";  	
	labels.innerHTML = labels.innerHTML +
             "<span style='margin:"+ecart+"px'>" + 
             content[1] + "</span>";      
    }
}



    </script>

    
{% endblock %}
